.cousines-list {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  list-style: none;
  border-top: 1px solid #ca3c56;
}

.cousines-list li {
  flex-grow: 1;
}

.cousines-list li:hover, .cousines-list li.active {
  background-color: #ca3c56
}

.cousines-list li {
  background-color: var(--main-color);
  padding: 10px 0;
  display: block;
  text-align: center;
  margin: 0;
}

.cousines-list li a {
  color: white;
  display: block;
}
