.stores-container h3 {
  margin: 20px 5px;
}

.stores-list li {
  display: block;
  border-bottom: 1px solid #ccc;
}

.stores-list li a {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}

.stores-list li a:hover {
  background-color: #ddd;
}
