header {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  display: flex;
}

header h2 {
  margin-right: auto;
}

nav {
  align-self: center;
}

nav a {
  padding: 0 10px;
  color: black;
}
